# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.macos/
.windows/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Ignore environment variables files
.env
.env.*

# Google Service files (often used for Firebase)
google-services.json
GoogleService-Info.plist

# Keys and Certificates
*.keystore
*.jks
*.p12

# Gradle specific
**/gradle-wrapper.jar
**/gradle-wrapper.properties

# Log files
*.log

# Temporary files and folders
tmp/
temp/

# Coverage files
coverage/
*.lcov

# Sensitive Info
secret.keys
credentials.json
